#loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.7) url('../img/loader.gif') no-repeat center center;
}
